<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/gui/counter">counter</a></li>
    <li><a href="/gui/temperature">temperature</a></li>
    <li><a href="/gui/booking">booking</a></li>
    <!-- <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li> -->
  </ul>
</nav>
