---
import TemperatureConverter from '../../components/TemperatureConverter.svelte'
import BaseLayout from '../../layouts/BaseLayout.astro'
---

<!DOCTYPE html>
<html lang="en">
<BaseLayout title='Counter' />
<body>
  <TemperatureConverter client:load/>
</body>
</html>